html{
    width: 100%;
    height:100%;
}
body {
    width: 100%;
    height: 100%;
    font-size: large;
    font-family: 'VT323', monospace;
    overflow-x: hidden;
    overflow-y: hidden;
    background-size: cover;
    background-repeat: no-repeat;                                     
}

#pink {
    width: 100%;
    height: 100%; 
    background-color:rgb(200, 166, 255);
    background-image: linear-gradient(180deg, 
                                       rgba(255, 255, 255, 0.6) 20%,
                                       rgb(243, 149, 255) );
    background-size: cover;
    background-repeat: no-repeat;  
    position: fixed;
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
}


#bg {
    position: fixed;
    padding: 0;
    margin: 0;
    top: 0;
    left: 0;
    filter: hue-rotate(190deg);
    opacity: 20%;
    width: 100%;
    height: 100%;
    background-image: url("/assets/ac_bg_2.gif");
    background-repeat: no-repeat;
    image-rendering: pixelated;
    background-size: cover;
}

#swirl {
   position: fixed;
   top: 10%;
   left: 10%;
   filter: brightness(7);
   mix-blend-mode:overlay;
   width: 40%;
}

#swirl2{
    position: fixed;
    bottom: 10%;
    left: 75%;
    filter: brightness(7);
    mix-blend-mode:overlay;
    width: 40%;
}


#swirl img, #swirl2 img{
    width: 40%;
    filter: hue-rotate(40deg);
}

 .container {
    height: 80%;
    width: 100%;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-top: 10%;
 
    flex-wrap: wrap;
    overflow:visible;
}




#text {
    flex-basis: 80%;
    flex-shrink: 0%;
    flex-grow: 0%;
    color: white;
    z-index: 0;
    font-size: x-large;
}

#next{
    padding-top: 1.5%;
    padding-bottom: 10%;

}
.save {
   filter: contrast(4);
   width: 15%;
   
    image-rendering: pixelated;

}

.save:hover{
    filter: contrast(0.4);
}

#text h1 {
    font-weight: normal;
    font-size: 5em;
    padding: 0px;
    margin: 0%;
}

#enter {
    background: rgba(0, 0, 0, 0);
    font-size: xx-large;
    text-decoration: none;
    color: white;
    border: 1px solid white;
    padding: 3px;
    z-index: 1;
    transition: background-color .9s;
}

#enter:hover{
    background-color: rgba(247, 0, 255, 0.5);
}

@media (max-width: 640px){
    body{
        overflow-x: hidden;
    }
    #text h1{
        font-size: 3em;
    }

    #bg{
        background-image: linear-gradient(180deg, 
        rgba(255, 255, 255, 0.6) 20%,
        rgb(243, 149, 255) );
    }
    #swirl img{
        width: 50%;
    }

    .container{
        padding-top: 20%;
        height: 90%;
        padding-bottom: 0%;
    }
    #next {
       height: 100%;
        padding-top: 0%;
        margin-top: 0px;
        overflow: visible;
        padding-bottom: 30%;

    }
}