body {
    font-size: xx-large;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background: rgb(0, 47, 255); */
    background: rgb(95, 67, 255); 
    background-image: linear-gradient(180deg, 
                                       rgba(255, 255, 255, 0.8) 50%,
                                       rgba(249, 200, 255, 0.8) );
    cursor: crosshair;
    font-family: 'VT323', monospace;

}

#bg {
    position: fixed;
    padding: 0;
    margin: 0;
    top: 0;
    left: 0;
    opacity: 20%;
    width: 100vw;
    height: 100vh;
    background: url('/ac/assets/ac_bg-min.png');
    background-size: cover;
    image-rendering: pixelated;
    background-repeat: no-repeat;
    background-position: center;
    filter: hue-rotate(190deg);
}

#c {
    width: 90%;
    height: 90%;
    position: fixed;
}


#tdiv {
    transition: 3s transform ease-in-out;
    max-width: 200px;
    max-height: 100px;
}

.token {
    max-height: 200px;
    image-rendering: pixelated;
    filter: saturate(4);
    animation-name: floating;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    float: inline-end;
    top: -100px;
    left: -100px;
    position: absolute;

}




@keyframes floating {
    from {
        transform: translate(0, 0px);
    }

    50% {
        transform: translate(0, 30px);
    }

    to {
        transform: translate(0, -0px);
    }
}

a, a:visited {
    text-decoration: none;
    color: black;
}

#content {
    padding-bottom: 20px;
    width: 70%;
    margin: auto;
    position: fixed;
    text-align: center;
}

#texts {
    z-index: 1;
    text-align: center;
    overflow: auto;
}

embed {
    width: 60vw;
    height: 60vh;
    max-width: 800px;
}

button {
    background: none;
    color: red;
    border: 1px solid red;
    text-decoration: none;
    font-weight: lighter;
    padding: 0.5vw;
    font: inherit;
    outline: inherit;
    cursor: pointer;
    transition: background .9s;
    letter-spacing: 2px;
}

button:hover{
    background: rgba(247, 0, 255, 0.5);
}


#chair {
    filter: contrast(0);
    width: 110px;
    padding: 10px;
    transition: filter .9s;
}

#chair:hover{
    filter: contrast(4);
 }

